body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
  }


 header {
    background-color: #a19292;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin:auto;
    padding: 1vw;
  }
  
#enorme {
  font-size: 4.2vw !important;
}

span{
  margin: auto;
}